.container{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.header{
    font-family: "Georgia", serif;
    font-size: 4rem; 
    margin-left: 6rem;
}

.subtext{
    font-family: "Georgia", serif;
    font-size: 2rem; 
    margin-left: 6rem;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 48px; /* now this actually works */
    row-gap: 48px;
    margin-top: 2rem;
  }