.container{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.header{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem; 
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0.8rem;
    right: -0.5rem;
    width: 75%;
    height: 1rem;
    background-color: #06BF83;
    z-index: -1;
}

.subtext{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem; 
    margin-left: 6rem;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 48px; /* now this actually works */
    row-gap: 48px;
    margin-top: 2rem;
  }